/* Estilo Global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    background: #fff9ea;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #333;
}

.image-top-left {
    position: fixed;
    top: 10px; /* Ajuste para dar um pequeno espaçamento da borda */
    left: 10px;
    width: 150px;
    height: auto;
    z-index: 100;
}

.container .btn-voltar {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #ff8f00;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: none;
}

.container .btn-voltar:hover {
    background-color: #ffa726;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Container Centralizado */
.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.5s ease;
}

/* Título */
h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo dos Botões */
.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.btn {
    background-color: orange;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #f3ab58;
}

.btn:active {
    background-color: #b83028;
}

/* Responsividade */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        gap: 15px;
    }

    .btn {
        width: 100%;
        padding: 15px;
    }
}
